In [7]:
import numpy as np
import random

In [9]:
arr=np.random.random(10)
print(arr)
print(arr.mean())
print(np.median(arr))
print(np.std(arr))
arr.shape

[0.58488674 0.75416705 0.06384771 0.1565167  0.66490413 0.64239033
 0.8870217  0.05291438 0.01132416 0.98663186]
0.4804604756939049
0.6136385339510476
0.3534052462432821

(10,)

In [10]:
l=[None, 1,2,3,None,4,None,None]
for i in range(1,len(l)):
    if l[i]==None:
        l[i]=l[i-1]
l

[None, 1, 2, 3, 3, 4, 4, 4]

In [3]:
import calendar
class Date:
    def __init__(self,month,day,year):
        self.month=month
        self.day=day
        self.year=year
    def f1(self):
        print( f'{self.month}/{self.day}/{self.year}')
    def f2(self):
        print(f"{calendar.month_name[self.month]} {self.day}, {self.year}")
    def f3(self):
        print(f"{self.day} {calendar.month_name[self.month]} {self.year}")
day=Date(12,25,2018)
day.f1()
day.f2()
day.f3()

12/25/2018
December 25, 2018
25 December 2018

In [5]:
day=Date(12,25,2018)
day.f1()

12/25/2018

In [1]:
import pandas as pd

In [2]:
fr=pd.read_csv('TestMax.csv')
fr

   Unnamed: 0  Year1  Max1  Max2  Max3
0           0   2001    10   101    87
1           1   2003   103    19    88
2           2   2003    21    23    89
3           3   2004    27    28    91