# Container Types Intro

Container/Reference types:
- list
- tuple
- dictionary
- set

In [4]:
print("Hello World")

Hello World

In [5]:
fruits=['apple', 'cherry', 'banana']
type(fruits)

list

In [6]:
numbers=[1,2,3,4]
print(numbers)
type(numbers)

[1, 2, 3, 4]

list

In [7]:
mixed=['apple', 1, True]
type(mixed)
print(mixed)

['apple', 1, True]

In [8]:
list('abcd')

['a', 'b', 'c', 'd']

In [11]:
my_str='ab,cd'
my_str.split(",")

['ab', 'cd']

In [12]:
numbers[0]

1

In [13]:
numbers[3:50]

[4]

In [14]:
numbers[::2]

[1, 3]

In [19]:
a=5
b=a
print(id(a))
print(id(b))
a+=1#a=a+1 it is creating new object and equaling a to it, now id of a will change
print(id(a))
print(id(b))
print(a)
print(b)

2633013854576
2633013854576
2633013854608
2633013854576
6
5

In [18]:
a=[1,2,3]
b=a
print(id(a))
print(id(b))
a.append(4) # it is not creating new object, but changing the existing one in place
print(id(a))
print(id(b))
print(a)
print(b)

2633116505280
2633116505280
2633116505280
2633116505280
[1, 2, 3, 4]
[1, 2, 3, 4]

In [20]:
a=[1,2,3]
b=a.copy()
print(id(a))
print(id(b))

2633116510528
2633110903488

In [25]:
x=[[1,2],[3,4]]# any type of element it can take
y=x.copy() # it is shallow copy, we still have reference types inside of x like [1,2] and [3,4]
x[0].append(5)
print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2, 5], [3, 4]]

In [26]:
from copy import deepcopy
x=[[1,2],[3,4]]
y=deepcopy(x)# now it is deepcopy
x[0].append(5)
print(x)
print(y)

[[1, 2, 5], [3, 4]]
[[1, 2], [3, 4]]

### List Methods
- append()
- clear()
- copy()
- count()
- extent()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

In [32]:
fruits = ['apple', 'ananas','banana', 'apple']
fruits.append('cherry')
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry']

In [28]:
fruits.count('apple')

2

In [33]:
fruits.extend(['melon', 'ananas'])
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry', 'melon', 'ananas']

In [31]:
fruits.index('melon')

4

In [35]:
fruits.index('ananas',2)# it will start looking for ananas from index 2

6

In [36]:
fruits.pop()# it will pop from end and it will return that object

'ananas'

In [37]:
fruits

['apple', 'ananas', 'banana', 'apple', 'cherry', 'melon']

In [38]:
fruits.remove('ananas') # it will remove first repeating element of ananas

In [39]:
fruits

['apple', 'banana', 'apple', 'cherry', 'melon']

In [40]:
fruits.reverse()# it will not return anything
fruits

['melon', 'cherry', 'apple', 'banana', 'apple']

In [41]:
fruits.sort()# it is method
fruits

['apple', 'apple', 'banana', 'cherry', 'melon']

In [45]:
fruits=['banana', 'a', 'ananas', 'ab']
sorted(fruits, key=lambda x: len(x))

['a', 'ab', 'banana', 'ananas']

In [46]:
numbers=[1,2,3,5,7]
sorted(numbers, reverse =True)

[7, 5, 3, 2, 1]

In [50]:
numbers=[1,2,3,-4,5,0]
sorted(numbers, key=lambda x: abs(x))

[0, 1, 2, 3, -4, 5]

In [51]:
numbers

[1, 2, 3, -4, 5, 0]

In [52]:
numbers[0]=7
numbers # so list is mutable

[7, 2, 3, -4, 5, 0]

## Tuple

In [54]:
# tuple is immutable

In [55]:
a=(1,2,3)
type(a)

tuple

In [56]:
a[0]

1

In [62]:
s=slice(0,1)
a[s]
# a=[s] == a[slice(0,1)] == a[0:1]

(1,)

In [63]:
a[0:1] # it is just one element of tuple

(1,)

In [64]:
a[0]=2 # tuple is ummutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
# append, sort, pop, remove, extent, reverse, insert = mutate, they will change the object in place, but tuple is immutable. So these methods don't work for tuple
# index, count = they will not change the object, so tuple has them
# copy

In [ ]:
person = ('John', 'Doe', 40)
person1=['John', 'Doe', 40]

In [65]:
type(())

tuple

In [66]:
res=divmod(20,3)
type(res)

tuple

In [67]:
#tuple unpacking
id, title, artist_id = (1, 'Name', 1)
id

1

### Dictionary

In [68]:
# key:value
person = {'name': 'John', 'email':'john@email.com', 'age': 40}
type(person)
# now person has 3 elements, and each element has key and value

dict

In [70]:
person['name']

'John'

In [71]:
person['email']

'john@email.com'

In [72]:
person.keys()

dict_keys(['name', 'email', 'age'])

In [73]:
person.values()

dict_values(['John', 'john@email.com', 40])

In [74]:
person.items() # list of tuples

dict_items([('name', 'John'), ('email', 'john@email.com'), ('age', 40)])

In [75]:
dict([('name', 'John'), ('email', 'john@email.com'), ('age', 40)])

{'name': 'John', 'email': 'john@email.com', 'age': 40}

In [76]:
dict(name='Adam', age=40)

{'name': 'Adam', 'age': 40}

In [77]:
person['lname']='Doe'
person

{'name': 'John', 'email': 'john@email.com', 'age': 40, 'lname': 'Doe'}

In [78]:
{
    1:'dfs',
    True : 'ajjd'
}

{1: 'ajjd'}

In [82]:
k1=1
k2=False
k3='key3'
k4=(1,2,3)
k5=[1,2,3]
d1={
    k1:'a',
    k2:'ab',
    k3:'abc',
    k4:'abcd',
    k5:'abcde'
}
d1

TypeError: unhashable type: 'list'

In [81]:
d1[(1,2,3)]

'abcd'

In [83]:
hash('hey')

-8185299148502129731

In [84]:
hash((1,2))

-3550055125485641917

In [85]:
hash([1,2])

TypeError: unhashable type: 'list'

In [87]:
# update
a1={
    'a': 1,
    'b':2
}
a1.update({'c':3, 'a':5})
a1

{'a': 5, 'b': 2, 'c': 3}

## SET

In [88]:
letters={'a', 'b', 'c', 'd'}
type(letters)

set

In [ ]:
# set has no index

In [89]:
s1={'a', 'b', 'c'}
s2={'r', 'a', 'b'}
s1.union(s2)

{'a', 'b', 'c', 'r'}

In [90]:
s1 | s2

{'a', 'b', 'c', 'r'}

In [91]:
s1 & s2

{'a', 'b'}

In [92]:
s1.remove('a')
s1

{'b', 'c'}

In [93]:
s1.difference(s2)

{'c'}

In [94]:
s1-s2

{'c'}

In [95]:
s2.difference(s1)

{'a', 'r'}

In [96]:
s1.symmetric_difference(s2)

{'a', 'c', 'r'}

In [97]:
s1 ^ s2

{'a', 'c', 'r'}

In [98]:
'apple' in 'apple', 'banana', 'cherry'}

True

## NamedTuple

In [105]:
from collections import namedtuple
# RGB={200, 100, 230}
Color = namedtuple("Color", ['red', 'green', 'blue'])
white = Color(255, 255, 255)
black=Color(0, 0, 0)
green=Color(0, 255, 0)
c=Color(200, 20, 10)
c.green

20

In [107]:
c[1]

20

In [100]:
type(green)

__main__.Color

In [101]:
isinstance(green, tuple)

True

In [102]:
isinstance(green, list)

False