In [1]:
import sqlite3

In [2]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    query="Create Table Books(Title Text, Author Text, Year_Published Integer, Genre Text)"
    cursor.execute(query)

In [4]:
entries=[
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby', 'F.Scott Fitzzgerald', 1925, 'Classic')
]
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    query="Insert into Books Values(?,?,?,?)"
    cursor.executemany(query, entries)

In [5]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    cursor.execute("Update Books Set Year_Published=1950 where Title='1984'")

In [22]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    rows=cursor.execute("Select Title, Author from Books where Genre='Dystopian'")
rows.fetchall()
# for i in ins:
#     print(i)

[('1984', 'George Orwell')]

In [14]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    cursor.execute("Update Books Set Year_Published=1949 where Title='1984'")

In [15]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    cursor.execute("Delete from Books where Year_Published<1950")

In [16]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    cursor.execute("Insert into Books Values('1984', 'George Orwell', 1949, 'Dystopian'),('The Great Gatsby', 'F.Scott Fitzzgerald', 1925, 'Classic')")

In [ ]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    cursor.executescript("Alter Table Books add column Rating Float;\
                   Update Books Set rating=4.8 where title='To Kill a Mockingbird';\
                   Update Books Set rating=4.7 where title='1984';\
                   Update Books Set Rating=4.5 where title='The Great Gatsby';")

In [21]:
with sqlite3.connect('library.db') as con:
    cursor=con.cursor()
    data=cursor.execute("Select * from Books order by Year_Published")
data.fetchall()

[('The Great Gatsby', 'F.Scott Fitzzgerald', 1925, 'Classic', 4.5),
 ('1984', 'George Orwell', 1949, 'Dystopian', 4.7),
 ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]