1.Count Occurrences: Given a tuple and an element, find how many times the element appears in the tuple.

In [55]:
t=(1,2,1,4,3,4,2)
t.count(1)

2

2.Max Element: From a given tuple, determine the largest element.

In [56]:
t=(1,2,1,4,3,4,2)
max(t)

4

3.Min Element: From a given tuple, determine the smallest element.

In [1]:
t=(1,2,1,4,3,4,2)
min(t)

1

4.Check Element: Given a tuple and an element, check if the element is present in the tuple.

In [4]:
t=(1,2,1,4,3,4,2)
el=2
el in t

True

5.First Element: Access the first element of a tuple, considering what to return if the tuple is empty.

In [7]:
t=(1,2,1,4,3,4,2)
if t==():
    print("Empty")
else:
    print(t[0])

1

6.Last Element: Access the last element of a tuple, considering what to return if the tuple is empty.

In [8]:
t=(1,2,1,4,3,4,2)
if t==():
    print("Empty")
else:
    print(t[-1])

2

7.Tuple Length: Determine the number of elements in the tuple.

In [9]:
t=(1,2,1,4,3,4,2)
len(t)

7

8.Slice Tuple: Create a new tuple that contains only the first three elements of the original tuple.

In [11]:
t=(1,2,1,4,3,4,2)
other=t[0:3]
other

(1, 2, 1)

9.Concatenate Tuples: Given two tuples, create a new tuple that combines both.

In [12]:
t1=(2,4,1,6,0)
t2=(3,7,1,0,4)
t3=t1+t2
t3

(2, 4, 1, 6, 0, 3, 7, 1, 0, 4)

10.Check if Tuple is Empty: Determine if a tuple has any elements.

In [14]:
t=()
# t==()
if t==():
    print("Empty")
else:
    print("It has elements")

True

11.Get All Indices of Element: Given a tuple and an element, find all the indices of that element in the tuple.

In [16]:
t=(1,4,2,7,5,2,1)
el=2
for i in range(len(t)):
    if (t[i]==el):
        print(i)

2
5

12.Find Second Largest: From a given tuple, find the second largest element.

In [37]:
t=(1,4,2,7,5,2,1)
maxi=t[0]
for i in t:
    if maxi<=i & i<max(t):
        maxi=i
maxi

5

13.Find Second Smallest: From a given tuple, find the second smallest element.

In [3]:
t=(1,4,2,7,5,2)
small=t[0]
for i in t:
    if min(t)<=i & i<=small:
        small=i
small

1

14.Create a Single Element Tuple: Create a tuple that contains a single specified element.

In [9]:
el=2
t=(el,)
t

(2,)

15.Convert List to Tuple: Given a list, create a tuple containing the same elements.

In [12]:
l=[1,2,3]
t=tuple(l)
t

(1, 2, 3)

16.Check if Tuple is Sorted: Determine if the tuple is sorted in ascending order and return a boolean.

In [15]:
t=(4,2,3)
l=list(t)
l==sorted(l)

False

17.Find Maximum of Subtuple: Given a tuple, find the maximum element of a specified subtuple.

In [18]:
t=(1,4,5,6)
sub=t[0:2]
max(sub)

4

18.Find Minimum of Subtuple: Given a tuple, find the minimum element of a specified subtuple.

In [19]:
t=(1,4,5,6)
sub=t[0:2]
min(sub)

1

19.Remove Element by Value: Given a tuple and an element, create a new tuple that removes the first occurrence of that element.

In [22]:
t=(3,2,1,6,4,8)
el=8
l=list(t)
l.remove(8)
t1=tuple(l)
t1

(3, 2, 1, 6, 4)

20.Create Nested Tuple: Create a new tuple that contains subtuples, where each subtuple contains specified elements from the original tuple.

In [26]:
t=(4,6,2,8,4,9,0,1)
l=[]
num=3
for i in range(0,len(t),num):
    l.append(t[i:i+num])
t1=tuple(l)
t1

((4, 6, 2), (8, 4, 9), (0, 1))

21.Repeat Elements: Given a tuple and a number, create a new tuple where each element is repeated that number of times.

In [29]:
t=(4,6,2,8,4,9,0,1)
l=list(t)
l1=[]
num=3
for i in l:
    num=3
    while(num>0):
        l1.append(i)
        num-=1
t1=tuple(l1)
t1

(4, 4, 4, 6, 6, 6, 2, 2, 2, 8, 8, 8, 4, 4, 4, 9, 9, 9, 0, 0, 0, 1, 1, 1)

22.Create Range Tuple: Create a tuple of numbers in a specified range (e.g., from 1 to 10).

In [32]:
r1=4
r2=8
l=[]
while(r1<r2+1):
    l.append(r1)
    r1+=1
t=tuple(l)
t

(4, 5, 6, 7, 8)

23.Reverse Tuple: Create a new tuple that contains the elements of the original tuple in reverse order.

In [35]:
t=(4,6,2,8,4,9,0,1)
l=list(t)
l.reverse()
t=tuple(l)
t

(1, 0, 9, 4, 8, 2, 6, 4)

24.Check Palindrome: Given a tuple, check if the tuple is a palindrome (reads the same forwards and backwards).

In [37]:
t=(1,2,3,4,3,2,1)
palindrome=True
for i in range(len(t)//2):
    if(t[i]!=t[len(t)-i-1]):
        palindrome=False
palindrome

True

25.Get Unique Elements: Given a tuple, create a new tuple that contains only the unique elements while maintaining the original order.

In [40]:
t=(3,1,1,6,4,8,3)
s=set()
l=[]
for i in t:
    if i not in s:
        l.append(i)
        s.add(i)
t1=tuple(l)
t1

(3, 1, 6, 4, 8)