In [ ]:
import sqlite3
import pandas as pd
import numpy as np

# Merging and Joining
# Inner Join on Chinook Database
conn = sqlite3.connect('chinook.db')
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)
invoices_df = pd.read_sql_query("SELECT * FROM invoices", conn)
conn.close()

merged_df = customers_df.merge(invoices_df, on='CustomerId', how='inner')
total_invoices = merged_df.groupby('CustomerId').size().reset_index(name='Total_Invoices')
print(total_invoices)

In [ ]:
# Outer Join on Movie Data
movie_df = pd.read_csv('movie.csv')
df1 = movie_df[['director_name', 'color']]
df2 = movie_df[['director_name', 'num_critic_for_reviews']]

left_join_df = df1.merge(df2, on='director_name', how='left')
full_outer_join_df = df1.merge(df2, on='director_name', how='outer')

print("Left Join Rows:", len(left_join_df))
print("Full Outer Join Rows:", len(full_outer_join_df))

In [ ]:
# Grouping and Aggregating
# Grouped Aggregations on Titanic
titanic_df = pd.read_excel('titanic.xlsx')
grouped_titanic = titanic_df.groupby('Pclass').agg({'Age': 'mean', 'Fare': 'sum', 'PassengerId': 'count'}).reset_index()
print(grouped_titanic)

In [ ]:
# Multi-level Grouping on Movie Data
grouped_movies = movie_df.groupby(['color', 'director_name']).agg({'num_critic_for_reviews': 'sum', 'duration': 'mean'}).reset_index()
print(grouped_movies)

In [ ]:
# Nested Grouping on Flights
flights_df = pd.read_parquet('flights.parquet')
nested_group_flights = flights_df.groupby(['Year', 'Month']).agg({'FlightNum': 'count', 'ArrDelay': 'mean', 'DepDelay': 'max'}).reset_index()
print(nested_group_flights)

In [ ]:
# Applying Functions

# Apply a Custom Function on Titanic
def classify_age(age):
    return 'Child' if age < 18 else 'Adult'

titanic_df['Age_Group'] = titanic_df['Age'].apply(classify_age)
print(titanic_df[['Age', 'Age_Group']].head())

In [ ]:
# Normalize Employee Salaries
employee_df = pd.read_csv('employee.csv')
employee_df['Normalized_Salary'] = employee_df.groupby('Department')['Salary'].transform(lambda x: (x - x.min()) / (x.max() - x.min()))
print(employee_df)

In [ ]:
# Custom Function on Movies
def classify_duration(duration):
    if duration < 60:
        return 'Short'
    elif 60 <= duration <= 120:
        return 'Medium'
    else:
        return 'Long'
movie_df['Duration_Category'] = movie_df['duration'].apply(classify_duration)
print(movie_df[['duration', 'Duration_Category']].head())

In [ ]:
# Using pipe

# Pipeline on Titanic
def titanic_pipeline(df):
    return (
        df[df['Survived'] == 1]
        .assign(Age=lambda x: x['Age'].fillna(x['Age'].mean()))
        .assign(Fare_Per_Age=lambda x: x['Fare'] / x['Age'])
    )

titanic_df = titanic_pipeline(titanic_df)
print(titanic_df.head())

In [ ]:
# Pipeline on Flights
def flights_pipeline(df):
    return (
        df[df['DepDelay'] > 30]
        .assign(Delay_Per_Hour=lambda x: x['DepDelay'] / x['CRSElapsedTime'])
    )

flights_df = flights_pipeline(flights_df)
print(flights_df.head())